<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="MyAddin1" Language="1033" Version="1.0.0" Manufacturer="Default Company" UpgradeCode="{3B0F5770-A599-4108-B1F8-9DEC14C944B1}" Codepage="1252">
    <Package AdminImage="no" Comments="MyAddin1" Compressed="yes" Description="MyAddin1" InstallerVersion="200" InstallScope="perUser" Languages="1033" Manufacturer="Default Company" Platform="x86" ReadOnly="no" ShortNames="no" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="MyAddin1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="MyAddin1 Installation [1]" />
    <Property Id="ARPCOMMENTS" Value="MyAddin1" />
    <Property Id="ARPCONTACT" Value="Default Company" />
    <!-- The ".NET Framework" launch condition. -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="This setup requires the .NET Framework 4.5.  Please install the .NET Framework and run this setup again."><![CDATA[Installed OR NETFRAMEWORK40CLIENT]]></Condition>
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_B01FDD28_82C0_4911_961C_B5CA731E7C31" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[TARGETDIR]$(var.MyAddin1.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_3F8387DC_87CB_4101_B955_1AC2375F6041" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.MyAddin1.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_47FDF6F0_B790_4341_AD3D_3B9A2B8B922F" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.MyAddin1.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- Initialize the "TARGETDIR" directory property. -->
    <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[LocalAppDataFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
    <Property Id="PREVIOUSINSTALLFOLDER">
      <RegistrySearch Id="_5CE2E61A_92F8_4CE5_9483_8CBDC9FCD790" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="Installed" Type="raw" />
    </Property>
    <CustomAction Id="DIRCA_TARGETDIR_UNINSTALL" Property="TARGETDIR" Value="[PREVIOUSINSTALLFOLDER]" Execute="firstSequence" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- The "MyAddin1" project output. -->
      <Directory Id="MyAddin1.Binaries" />
      <!-- The "MyAddin1" project output. -->
      <Directory Id="MyAddin1.Satellites" />
      <Component Id="comp_9F97CBA1_2A90_479D_AD92_BDD466070532" Guid="B70E2F13-EC7C-4F87-BD19-9E14AAA596BF" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[TARGETDIR]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_A8DCC9F7_15F9_43BE_9DD2_9EA3E2E0DDBC" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader64.dll" Source="$(var.MyAddin1.ProjectDir)Loader\adxloader64.dll" />
        <File Id="_224371C8_5A09_4B92_BC76_F833A9D0799C" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll.manifest" Source="$(var.MyAddin1.ProjectDir)Loader\adxloader.dll.manifest" />
        <File Id="_E3F8A57B_9A8E_4535_8BD0_F00DBE740A41" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll" Source="$(var.MyAddin1.ProjectDir)Loader\adxloader.dll" />
        <File Id="_ED7EA8D0_5382_4F98_B764_A69127EED224" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\AddinExpress.MSO.2005.dll" />
				<File Id="_213CE2FC_6B58_4D8A_85D8_1F141EE13C19" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.MyAddin1.TargetDir)Microsoft.Office.Interop.Outlook.dll" />
				<File Id="_73BFB003_3631_4663_A667_63D71F862296" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Vbe.Interop.dll" Source="$(var.MyAddin1.TargetDir)Microsoft.Vbe.Interop.dll" />
				<File Id="_B06DF404_C273_43FF_8577_5BBC6D3D90F0" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Office.dll" Source="$(var.MyAddin1.TargetDir)Office.dll" />   
      </Component>
    </Directory>
    <!-- The FileSystem group of the installation package. -->
    <ComponentGroup Id="FileSystemGroup">
      <ComponentGroupRef Id="MyAddin1.Binaries" />
      <ComponentGroupRef Id="MyAddin1.Satellites" />
      <ComponentRef Id="comp_9F97CBA1_2A90_479D_AD92_BDD466070532" />
    </ComponentGroup>
    <!-- The composite feature of the installation package. -->
    <Feature Id="CompleteInstall" Title="All Files" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentGroupRef Id="FileSystemGroup" />
    </Feature>
    <Upgrade Id="{3B0F5770-A599-4108-B1F8-9DEC14C944B1}">
      <UpgradeVersion Minimum="1.0.0" Property="NEWPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" Language="1033" />
      <UpgradeVersion Maximum="1.0.0" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" Language="1033" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <Custom Action="_B01FDD28_82C0_4911_961C_B5CA731E7C31" After="StartServices"><![CDATA[$comp_9F97CBA1_2A90_479D_AD92_BDD466070532>2]]></Custom>
      <Custom Action="_3F8387DC_87CB_4101_B955_1AC2375F6041" After="_B01FDD28_82C0_4911_961C_B5CA731E7C31"><![CDATA[$comp_9F97CBA1_2A90_479D_AD92_BDD466070532>2]]></Custom>
      <Custom Action="_47FDF6F0_B790_4341_AD3D_3B9A2B8B922F" After="MsiUnpublishAssemblies"><![CDATA[$comp_9F97CBA1_2A90_479D_AD92_BDD466070532=2]]></Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <FindRelatedProducts Sequence="200" />
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallUISequence>
    <AdminUISequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
    </AdminUISequence>
  </Product>
</Wix>